
  
  /** search pop-up style **/
  .serach-button-style1{
    position: relative;
    display: block;
  }
  .serach-button-style1 .search-toggler{
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: all 500ms ease;
  }
  .serach-button-style1 .search-toggler:hover{
    color: var(--primary-color);
  }
  .search-popup{
    position:fixed;
    left:0;
    top:0px;
    width:100%;
    height:100%;
    z-index:99999;
    visibility:hidden;
    opacity:0;
    overflow:auto;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transform:translateY(101%);
    -ms-transform:translateY(101%);
    transform:translateY(101%);
    transition:all 700ms ease;
    -moz-transition:all 700ms ease;
    -webkit-transition:all 700ms ease;
    -ms-transition:all 700ms ease;
    -o-transition:all 700ms ease;
  }
  .search-popup.popup-visible{
    -webkit-transform:translateY(0%);
    -ms-transform:translateY(0%);
    transform:translateY(0%);
    visibility:visible;
    opacity:1;
  }
  .search-popup .overlay-layer{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    display:block;
  }
  .search-popup .close-search i {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 22px;
    color: var(--white-color);
    cursor: pointer;
    z-index: 5;
    transition: all 500ms ease;
    background: var(--theme-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(-45deg);
  }
  .search-popup .close-search i:before {
    content: "\e910";
    font-family: 'icomoon' !important;
  }
  .search-popup .search-form{
    position: relative;
    padding: 0px 15px 0px;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    z-index: 10;
  }
  .search-popup.popup-visible .search-form {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 500ms ease 500ms;
    -moz-transition: all 900ms ease 500ms;
    -webkit-transition: all 900ms ease 500ms;
    -ms-transition: all 900ms ease 500ms;
    -o-transition: all 900ms ease 500ms;
  }
  .search-popup .search-form .form-group{
    margin-bottom: 30px;
  }
  .search-popup .search-form fieldset{
    position:relative;
    border-radius:12px;
  }
  .search-popup .search-form fieldset input[type="search"]{
    position:relative;
    height:70px;
    padding:20px 250px 20px 30px;
    background:var(--white-color);
    line-height:30px;
    font-size:24px;
    color:#233145;
    border-radius:7px;
  }
  .search-popup .search-form fieldset input[type="submit"]{
    position:absolute;
    display:block;
    right:0px;
    top:0px;
    text-align:center;
    width:220px;
    height:70px;
    padding:20px 10px 20px 10px;
    color:var(--white-color) !important;
    line-height:30px;
    font-size:20px;
    cursor:pointer;
    text-transform:uppercase;
    border-radius:0px 7px 7px 0px;
    background: var(--theme-color);
  }
  .search-popup .search-form fieldset input[type="submit"]:hover{
    transform: translateY(0px);
  }
  .search-popup h3{
    text-transform:uppercase;
    font-size:20px;
    font-weight:600;
    color:var(--white-color);
    margin-bottom:20px;
    letter-spacing:1px;
    text-align:center;  
  }
  .search-popup .recent-searches{
    font-size:16px;
    color:var(--white-color);
    text-align:center;
  }
  .search-popup .recent-searches li{
    display:inline-block;
    margin:0px 10px 10px 0px; 
  }
  .search-popup .recent-searches li a{
    display:block;
    line-height:24px;
    border:1px solid var(--white-color);
    padding:7px 15px;
    color:var(--white-color);
    border-radius:3px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
  }
  .search-popup .recent-searches li a:hover{
    border-color: var(--theme-color);
  }
  