
/* service__four end */
.service__four {
    padding: 150px 0px 248px;
    background-size: cover;
  }
  .service__four:before {
    position: absolute;
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.9;
    z-index: 1;
  }
  .service__four__content {
    position: relative;
    z-index: 11;
  }
  .service__four__content .main__title h2 {
    color: var(--white-color);
  }
  .service__four__content .inner__content__four {
    text-align: center;
  }
  .lower__content__four .icon__box {
    display: flex;
    justify-content: center;
    padding: 50px 0px 30px;
  }
  .service__four__content .inner__content__four h4,
  .service__four__content .inner__content__four p,
  .service__four__content .inner__content__four a{
    color: var(--white-color);
  }
  .service__content__four .service__text p {
    padding: 20px 35px 45px;
  }
  .service__content__four .more__btn {
    padding-bottom: 33px;
  }
  .service__content__four .service__text p:after {
    content: "";
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
  }
  .lower__content__four .icon__box .icon__outer span {
    font-size: 56px;
    color: var(--white-color);
    z-index: 1;
    position: relative;
    transition: all 500ms all;
  }
  .service__four .owl-dots {
    display: block;
    padding-top: 50px;
    text-align: center;
  }
  .inner__content__four .image__hover__bg__one {
    width: 300px;
    height: 408px;
    background-size: cover;
    opacity: 1;
    transition: all 500ms ease;
  }
  .inner__content__four .image__hover__bg__two {
    width: 300px;
    height: 408px;
    opacity: 0;
    transform: scale(0.0);
    transform-origin: top;
    transition: all 500ms ease;
    position: absolute;
    left: 0;
    top: 0;
  }
  .inner__content__four .icon__hover__bg__one {
    width: 100px;
    height: 100px;
    opacity: 0;
    transform: scale(0.0);
    transform-origin: top;
    transition: all 500ms ease;
  }
  .inner__content__four:hover .image__hover__bg__one {
    opacity: 0;
  }
  .inner__content__four:hover .image__hover__bg__two {
    opacity: 1;
    transform: scale(1.0);
  }
  .inner__content__four:hover .icon__hover__bg__two {
    opacity: 0;
  }
  .inner__content__four:hover .icon__hover__bg__one {
    opacity: 1;
    transform: scale(1.0);
  }
  .inner__content__four:hover .icon__outer span{
    color: var(--primary-color);
  }
  .service__four__content .inner__content__four a:hover{
    color: var(--white-color) !important;
  }
  .service__four__content .inner__content__four a:hover{
    color: var(--white-color) !important;
  }
  .service__four__content .more__btn a span{
    color: var(--white-color);
  }
  .service__four__content .more__btn a:hover span:last-child{
    color: var(--white-color);
  }
  
  
  
  /* service__four end */
  